<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Поисковик книг</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}" />
  </head>
  <body>
    <main class="main">
      <div class="container">
        <header class="header">
          <h1 class="title">Поисковик книг</h1>
          <p>Найдитие ваши любимые книги в считанные секунды</p>
        </header>

        <search class="search-container">
          <form class="search-form" action="/search" method="get">
            <input
              class="input search-container"
              type="text"
              name="query"
              value="{{query}}"
              placeholder="Введите название книги"
              required
            />

            <button class="button" type="submit">Найти</button>
          </form>
        </search>

        <ul class="books-list">
          {% for book in books %}
          <li>
            <a href="{{ book.link }}" class="book-card">
              {% if book.img_link %}
              <img class="book-card_img" src="{{ book.img_link }}" />
              {% else %}
              <div class="book-card_img book-card_img-placeholder"></div>
              {% endif %}
              <div class="book-card_info">
                <p class="book-card_price">{{book.price}}₽</p>
                <p class="book-card_title" title="{{book.title}}">
                  {{ book.title }}
                </p>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </main>
  </body>
</html>
